#duck-logo {
  width: 65px;
}

nav ::placeholder {
  color: gray !important;
}

.content .table > tbody > tr > td:nth-child(3) {
  display: flex;
  gap: 5px;
}

.card > .list-group > li {
  display: flex;
}
