#duck-logo {
  width: 65px;
}

nav ::placeholder {
  color: gray !important;
}

.content .table .btn-container {
  display: flex;
  gap: 5px;
}

.card > .list-group > li {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: table-cell;
  }
}
